<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC02
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Tipos de Frete</ion-label>
    <ion-select interface="popover" class="custom-options" (ionChange)="verificaSelecionado($event)">
      <ion-select-option value="regular">Regular</ion-select-option>
      <ion-select-option value="expresso">Expresso</ion-select-option>
      <ion-select-option value="agendado">Agendado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Distancia</ion-label>
    <ion-input [(ngModel)]="n1" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero de Produtos</ion-label>
    <ion-input [(ngModel)]="n2" type="number"></ion-input>
  </ion-item>

</ion-content>
